<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" class="form-control" formControlName="firstName" required>
    <div class="invalid-feedback" *ngIf="contactForm.get('firstName')?.invalid && contactForm.get('firstName')?.touched">
      First Name é obrigatório.
    </div>
  </div>
  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" class="form-control" formControlName="lastName" required>
    <div class="invalid-feedback" *ngIf="contactForm.get('lastName')?.invalid && contactForm.get('lastName')?.touched">
      Last Name é obrigatório.
    </div>
  </div>
  <div class="form-group">
    <label for="birthday">Birthday:</label>
    <input type="date" id="birthday" class="form-control" formControlName="birthday" required>
    <div class="invalid-feedback" *ngIf="contactForm.get('birthday')?.invalid && contactForm.get('birthday')?.touched">
      Birthday é obrigatório.
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" class="form-control" formControlName="email" required>
    <div class="invalid-feedback" *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
      Email inválido ou obrigatório.
    </div>
  </div>

  <div formArrayName="phones">
    <div *ngFor="let telefone of phones.controls; let i = index" [formGroupName]="i">
      <div [class.highlighted]="i === phones.controls.length - 1" class="phone-form">
        <div class="form-row">
          <div class="col">
            <label for="number">Number:</label>
            <input type="text" id="number" class="form-control" formControlName="number" required>
          </div>
          <div class="col">
            <label for="codeArea">Code Area:</label>
            <input type="text" id="codeArea" class="form-control" formControlName="codeArea" required>
          </div>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" id="isTelegram" class="form-check-input" formControlName="isTelegram">
          <label class="form-check-label" for="isTelegram">Is Telegram</label>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" id="isWhatsapp" class="form-check-input" formControlName="isWhatsapp">
          <label class="form-check-label" for="isWhatsapp">Is Whatsapp</label>
        </div>
        <button type="button" class="btn btn-danger" (click)="removePhone(i)">Remover Telefone</button>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary" (click)="addPhone()" [disabled]="phones.length >= 3">Adicionar Telefone</button>

  <button type="submit" class="btn btn-success" [disabled]="contactForm.invalid || phones.controls.length === 0">Salvar Contato</button>

</form>
